<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static "css/styles.css" %}" />
    <title>Technofilm</title>
</head>
<body>
    {% include "header.html"  %}
    <div id="project1" style="display: block;">
        <h1 class="pon" >Проект "Technofilm"</h1>
        <h3 class="pon" >Это сайт по поиску фильмов</h3>
        <h3 class="pon" >Каждый найдёт для себя свой</h3>
        <h3 class="pon" >Готовы начать?</h3>
    </div>
    <br>
    <div>Создано при адском труде</div>
</body>
</html>