<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static "css/styles.css" %}" />
    <script src="{% static "javascript/script.js" %}"></script>
    <title>Technofilm</title>
</head>
<body>
    {% include "header.html" %}
    <form method="POST" >
        {% csrf_token %}
        {% for field in form %}
            <div>{{field}}</div>
        {% endfor %}
        <input type="submit" value="Send" >
    </form>
    <div>
        
        {% for film in films %}
            <div class='film'> 
                <img src={{ film.image }} >
                {{ film.name }} 
                {{ film.creationYear }}
            </div>
        {% endfor %}
    </div>
</body>
</html>