<!DOCTYPE html>
{% load static %}

<html>
<head>

    <meta charset="utf-8" />
    <link  rel="stylesheet" href="{% static "css/style.css" %}" />
    {% comment %} <script src="/static/javascript/script.js"></script> {% endcomment %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>СмотрИИ</title>
</head>
<body>
    
    <div class='container_links'><a href="/" class="custom-button" style="text-decoration: none; color: #3E2723;">Главная</a></div>

    <form id = "idForm" method="GET" onsubmit='return false'>
        <div class="search-container">
        <div><input type="text" name="value" placeholder="Введите название" class="custom-search" id="id_value" autocomplete="off">&nbsp; &nbsp;</div>
        <input id="submitButtonId" class = "custom-button" type="button" value="Найти" >
        </div>
    </form>
    
    <div id='filmsContainer'>
        
    </div>
    <script>
        function updateFilms(data){
            obj = JSON.parse(data);
            str = '';
            for (let i = 0; i < obj.length; i++) {
                str+= `
                <div class='film'> 
                    <a class="poster_link" href="/film/${obj[i]['id']}"><img class="poster"src=${obj[i]['poster']} ></a>
                    <div class="container_main">
                    <div class="name_and_year">
                    <a href="/film/${obj[i]['id']}"><h2 class='name' color="#f8e8ca">${obj[i]['name']} </h2></a>&emsp;
                    <h2 class='year' color="#F5DEB3">${obj[i]['dateCreated']}</h2>
                    </div>
                    <div class='small-descriptions'>${obj[i]['descriptions'][1]}</div>
                    </div>
                </div>
                `;
            }
            $('#filmsContainer').html(str);

        }
        $("#submitButtonId").click(function() {
            var url = "/find"; 
        
            $.ajax({
                   type: "GET",
                   url: url,
                   data: $("#idForm").serialize(), 
                   success: function(data)
                   {
                       updateFilms(data); 
                   }
                 });
        
            return false; 
        });
    </script>
</body>
</html>